<fieldset>
  <div class="well clearfix">
    <p class="field">
      <%= select_tag "order[payments_attributes][][issuer_id]", 
                     options_for_select(@banks || []), 
                     class: 'form-control required' %>
    </p>
  </div>
</fieldset>

